{% block body %}
<div class="jumbotron text-center">
  <h1>Employee Webpage</h1>
  <p class="lead">This is the employee webpage.</p>
  <a href="/Display_Donors" class="btn btn-success btn-lg">Show Donors</a>
  <br>
  <a href="/Display_Receivers" class="btn btn-success btn-lg">Show Recipients</a>
  <br>
  <a href="/Display_Foods" class="btn btn-success btn-lg">Show Donations</a>
  <br>
  <a href="/AddDonor" class="btn btn-success btn-lg">Add New Donor</a>
  <br>
  <a href="/AddReceiver" class="btn btn-success btn-lg">Add New Recipient</a>
  <br>
  <a href="/AddFood" class="btn btn-success btn-lg">Add New Food Item</a>
  <br>
  <a href="/AddReceives" class="btn btn-success btn-lg">Add New Donation</a>
  <br>
</div>
{% endblock %}
